*{
	margin: 0px auto;
	padding: 0px;
}
header{
	height: 0.9rem;
	line-height: 0.9rem;
	text-align: center;
	font-size: 0.36rem;
	color: #ffffff;
	width: 7.5rem;
	background-color: #3090E2;
}
header a {
	position: absolute;
	left: 0rem;
	top: 0rem;
	height: 0.9rem;
	line-height: 0.9rem;
}
header span{
	height: 0.9rem;
	width:0.68rem ;
}
header a img {
	height: 0.44rem;
	width: 0.24rem;
	vertical-align: middle;
	margin-left: 0.2rem;
	margin-right:0.24rem ;
}
header div{
	height: 0.9rem;
	position: absolute;
	top: 0rem;
	right: 0rem;
	width: 0.92rem;
	padding-right: 0.2rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-align: center;
}
header div img{
	height: 0.3rem;
	width: 0.38rem;
}
#all{
	width: 100%;
	overflow-y:scroll;  
    overflow-x:auto; 
}
.neirong{
	width: 7.5rem;
	padding: 0.24rem 0.3rem 0.1rem 0.2rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: flex;
	border-bottom: 0.04rem solid #EEEEEE;
}
.neirong img{
	height: 0.88rem;
	width: 0.88rem;
	flex: 0.88;
	display: inline-block;
	margin-right: 0.2rem;
}
.neirong ul{
	display: inline-block;
	width: 5.96rem;
	flex: 5.96;
}
.neirong ul li{
	list-style: none;
	font-size: 0.28rem;
	width: 5.96rem;
}
.neirong ul :first-child a{
	text-decoration: none;
	color: #3E99EC;
	font-size: 0.28rem;
}
.neirong ul .rong{
	margin-top: 0.1rem;
	color: #333333;
}
.neirong ul .video{
	margin-top: 0.1rem;
	font-size: 0rem;	
}
.neirong ul video{
	width: 2.0rem;
}
.neirong ul .video img{
	height: 0.4rem;
	width: 0.4rem;
	position: relative;
}
.neirong .tuxiang{
	width: 5.0rem;
	margin-left: 0rem;
}
.neirong .tuxiang img{
	margin: 0rem;
	width:1.6rem;
	height: 1.6rem;
}
.neirong ul .li_hezi{
	font-size: 0.24rem;
	color: #666666;
	margin-top: 0.2rem;
	display: flex;
}
.neirong ul .li_hezi img{
	height: 0.28rem;
	width: 0.28rem;
	margin-right: 0.1rem;
}
.neirong .time{
	flex: 3;
}
.neirong .zan{
	flex: 1;
	margin-right: 0.1rem;
	text-align: right;
}
.neirong .zan span{
	display: inline-block;
	float:right
}
.neirong .lun{
	flex: 1;
	text-align: right;
}
.neirong .lun span{
	display: inline-block;
	float:right
}
#box{
    display: none;
    position:absolute;
    left:0; top:0; right:0;
    bottom:0;
    background-color:rgba(0,0,0,0.8);  
    align-items: center;
}
#box video{
	width: 7.5rem;
}
