<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
	</head>
	<script type="text/javascript" src="js/jquery-1.8.3.min.js" ></script>
    <script type="text/javascript" src="js/rem.js" ></script>
    <link rel="stylesheet" href="css/faxiaoxi.css" />
	<body>
		<div class="nav_title">
			<a href="zuozhe.html"><span><img src="img/icon_fanhui@2x.png"/></span></a>  刘剑 
		</div>
		<div id="all">
					
			<div class="liaotian_zuo">
				<img src="img/picture_xiangqing.png" />
				<div class="yanghi"></div>
				<div class="neirong">
					随风倒随风倒随风
				</div>
			</div>
			
			<div class="liaotian_you">
				<div class="neirong">
					随风倒随风倒随风倒随风倒随风倒随风倒
					随风倒随风倒随风倒随风倒随风倒随风倒
					随风倒随风倒随风倒随风倒随风倒随风倒
					随风倒随风倒随风倒随风倒随风倒随风倒
					随风倒随风倒随风倒随风倒随风倒随风倒
					随风倒随风倒随风倒随风倒随风倒随风倒
					随风倒随风倒随风倒随风倒随风倒随风倒
				</div>
				<div class="yanghi"></div>
				<img src="img/picture_xiangqing.png" />
			</div>
			
			<div class="liaotian_you">
				<div class="neirong">
					随风倒随风倒随风倒随风倒随风倒随风倒
					随风倒随风倒随风倒随风倒随风倒随风倒
					随风倒随风倒随风倒随风倒随风倒随风倒
					随风倒随风倒随风倒随风倒随风倒随风倒
					随风倒随风倒随风倒随风倒随风倒随风倒
					随风倒随风倒随风倒随风倒随风倒随风倒
					随风倒随风倒随风倒随风倒随风倒随风倒
				</div>
				<div class="yanghi"></div>
				<img src="img/picture_xiangqing.png" />
			</div>
			<div class="liaotian_you">
				<div class="neirong">
					随风倒随风倒随风倒随风倒随风倒随风倒
					随风倒随风倒随风倒随风倒随风倒随风倒
					随风倒随风倒随风倒随风倒随风倒随风倒
					随风倒随风倒随风倒随风倒随风倒随风倒
					随风倒随风倒随风倒随风倒随风倒随风倒
					随风倒随风倒随风倒随风倒随风倒随风倒
					随风倒随风倒随风倒随风倒随风倒随风倒
				</div>
				<div class="yanghi"></div>
				<img src="img/picture_xiangqing.png" />
			</div>

		</div>
		<footer class="foot">
			<input placeholder="请输入内容......" />
			<img src="img/izon_fasong@2x.png"/>
		</footer>
	</body>
	<script type="text/javascript" src="js/faxiaoxi.js" ></script>
</html>
