<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
	</head>
	<script type="text/javascript" src="js/jquery-1.8.3.min.js" ></script>
    <script type="text/javascript" src="js/rem.js" ></script>
	<link rel="stylesheet" href="css/g_fujinderen.css" />
	<body>
		<header>
			<a href="g_gerenzhongxin.html"><span><img src="img/icon_fanhui@2x.png"/></span></a>  附近的人 
		</header>
		<div id="all">
			<div class="beijingtu">
				<img src="img/picture_xiangqing.png" />
			</div>
			<ul class="gerenxinxi">
				<li> <img src="img/picture_xiangqing.png" /> </li>
				<li>陈醋醋</li>
			</ul>
			
			<div class="all_person">
				<div class="person">
					<img src="img/picture_xiangqing.png" />
					<ul>
						<li>XIAO1</li>
						<li>144米以内</li>
					</ul>
					<div class="jieshao">
						<p>你是你是你是你是你是你是你是你是
						你是你是你是你是你是你是你是你是</p>
					</div>
				</div>
				
				<div class="person">
					<img src="img/picture_xiangqing.png" />
					<ul>
						<li>XIAO1</li>
						<li>144米以内</li>
					</ul>
					<div class="jieshao">
						<p>你是你是你是你是你是你是你是你是
						你是你是你是你是你是你是你是你是</p>
					</div>
				</div>
				
				<div class="person">
					<img src="img/picture_xiangqing.png" />
					<ul>
						<li>XIAO1</li>
						<li>144米以内</li>
					</ul>
					<div class="jieshao">
						<p>你是你是你是你是你是你是你是你是
						你是你是你是你是你是你是你是你是</p>
					</div>
				</div>
				
				
				<div class="person">
					<img src="img/picture_xiangqing.png" />
					<ul>
						<li>XIAO1</li>
						<li>144米以内</li>
					</ul>
					<div class="jieshao">
						<p>你是你是你是你是你是你是你是你是
						你是你是你是你是你是你是你是你是</p>
					</div>
				</div>
				
				
				<div class="person">
					<img src="img/picture_xiangqing.png" />
					<ul>
						<li>XIAO1</li>
						<li>144米以内</li>
					</ul>
					<div class="jieshao">
						<p>你是你是你</p>
					</div>
				</div>
				
			</div>
			
		</div>
		
		
	</body>
	<script type="text/javascript" src="js/g_fujinderen.js" ></script>
</html>
