<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
	</head>
	<script type="text/javascript" src="js/jquery-1.8.3.min.js" ></script>
    <script type="text/javascript" src="js/rem.js" ></script>
    <link rel="stylesheet" href="css/g_gerenzhongxin.css" />
	<body>
		<div id="all">
			<header>个人中心</header>
			<div class="beijingtu">
				<img src="img/picture_xiangqing.png" />
				<ul class="yiciul">
					<li> <img src="img/picture_xiangqing.png" /> </li>
					<li class="erciul">
						<ul >
							<li>陈醋醋</li>
							<li>123123123123</li>
						</ul>
					</li>
					<li> <img src="img/icon_rweima@2x.png" class="erweima" /> </li>
				</ul>
			</div>
			
			<ul class="gongneng">
				<a href="g_wodexiangce.html"><li>我的相册 <img src="img/icon_jinru@3x.png" /> </li></a>
				<a href="g_wodeshoucang.html"><li>我的收藏 <img src="img/icon_jinru@3x.png" /> </li></a>
				<a href="g_wodeteizi.html"><li>我的帖子 <img src="img/icon_jinru@3x.png" /> </li></a>
				<a href="g_fujinderen.html"><li>附近的人 <img src="img/icon_jinru@3x.png" /> </li></a>
				<a><li  class="shezhi">设置 <img src="img/icon_jinru@3x.png" /> </li></a>
			</ul>
		</div>
	</body>
	<script type="text/javascript" src="js/g_gerenzhongxin.js" ></script>
</html>
