<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
	</head>
	<script type="text/javascript" src="js/jquery-1.8.3.min.js" ></script>
    <script type="text/javascript" src="js/rem.js" ></script>
	<link rel="stylesheet" href="css/g_pengyouquan.css" />
	<body>
		<div id="all">
			<header>
				<a href="g_gerenzhongxin.html"><span><img src="img/icon_fanhui@2x.png"/></span></a>  
				朋友圈
				<div><a>发布</a></div>
			</header>
			<div class="xiahuaxian"></div>
			<div class="fasongneirong">
				<textarea class="neirong" placeholder="输入内容"></textarea>
				<img src="img/icon_xiangce@3x.png" />
				<div class="dangqian_address" onclick="chooseAddress()">
					<span>当前地址:&nbsp;北京市丰台区丰台科技园赛欧科技孵化中心</span>
					<img src="img/icon_jinru@3x.png" />
				</div>
			</div>
			<div class="xiahuaxian"></div>
			<ul class="quanxian">
				<a><li>谁可以看<img src="img/icon_jinru@3x.png" /><span>公开</span></li></a>
				<a><li class="tixing">提醒谁可以看<img src="img/icon_jinru@3x.png" /></li></a>
			</ul>
		</div>
		
		<div id="box">
			<div class="bottom_fenlei">
				<div class="sure">
					<div class="btn_false">取消</div>
			        <div class="btn_true">确定</div>
			   </div> 
			   	<ul class="diqu_one">
			   		<li>全部</li>
			    	<li>北京1</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			   	</ul>
			</div>
			
			<div class="bottom_fenlei_two">
				<div class="sure">
					<div class="btn_reset">重置</div>
			        <div class="btn_true_two">确定</div>
			   </div> 
			   	<ul class="diqu_two">
			   		<li>全部</li>
			    	<li>北京2</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			   	</ul>
			</div>
			
			<div class="bottom_fenlei_three">
				<div class="sure">
					<div class="btn_reset_three">重置</div>
			        <div class="btn_true_three">确定</div>
			   </div> 
			   	<ul class="diqu_three">
			   		<li>全部</li>
			    	<li>北京3</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			   	</ul>
			</div>
		</div>
	</body>
	<script src="js/g_pengyouquan.js"></script>
</html>
