<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<script type="text/javascript" src="js/jquery-1.8.3.min.js" ></script>
    	<script type="text/javascript" src="js/rem.js" ></script>
		<link rel="stylesheet" href="css/g_wodexiangce.css" />
		<title></title>
	</head>
	<body>
		<header>
			<a href="g_gerenzhongxin.html"><span><img src="img/icon_fanhui@2x.png"/></span></a>  我的相册 
		</header>
		<div id="all">
			<div class="beijingtu">
				<img src="img/picture_xiangqing.png" />
			</div>
			<ul class="gerenxinxi">
				<li> <img src="img/picture_xiangqing.png" /> </li>
				<li>陈醋醋</li>
			</ul>
			<!--所有相册内容-->
			<div class="my_all_xiangce">
				<!--发表今日朋友圈 -->
				<div class="fabiao">
					<div class="today">今日</div>
					<div class="fa_img"><a href="g_pengyouquan.html"><img src="img/icon_xiangce@3x.png" /></a></div>
				</div>
				
				<div class="xiangce">
					<div class="xiangce_time">24<span>4月</span></div>
					<div class="tong_neirong">
						<div class="xiangce_neirong">
								<img src="img/btn_tianjiaxiangceneirong@2x.png" />
								<div>
									<p>陈醋醋陈醋醋陈陈醋醋陈</p>
								</div>
						</div>
						<div class="xiangce_neirong">
								<img src="img/btn_tianjiaxiangceneirong@2x.png" />
								<div>
									<p>陈醋醋陈醋醋陈陈醋醋陈</p>
								</div>
						</div>
					</div>
				</div>
				
				<div class="xiangce">
					<div class="xiangce_time">24<span>4月</span></div>
					<div class="tong_neirong">
						<div class="xiangce_neirong">
								<img src="img/btn_tianjiaxiangceneirong@2x.png" />
								<div>
									<p>陈醋醋陈醋醋陈陈醋醋陈</p>
								</div>
						</div>
						<div class="xiangce_neirong">
								<img src="img/btn_tianjiaxiangceneirong@2x.png" />
								<div>
									<p>陈醋醋陈醋醋陈陈醋醋陈</p>
								</div>
						</div>
					</div>
				</div>
				
				<div class="xiangce">
					<div class="xiangce_time">24<span>4月</span></div>
					<div class="tong_neirong">
						<div class="xiangce_neirong">
								<img src="img/btn_tianjiaxiangceneirong@2x.png" />
								<div>
									<p>陈醋醋陈醋醋陈陈醋醋陈</p>
								</div>
						</div>
						<div class="xiangce_neirong">
								<img src="img/btn_tianjiaxiangceneirong@2x.png" />
								<div>
									<p>陈醋醋陈醋醋陈陈醋醋陈</p>
								</div>
						</div>
					</div>
				</div>
				
				<div class="xiangce">
					<div class="xiangce_time">24<span>4月</span></div>
					<div class="tong_neirong">
						<div class="xiangce_neirong">
								<img src="img/btn_tianjiaxiangceneirong@2x.png" />
								<div>
									<p>陈醋醋陈醋醋陈陈醋醋陈陈醋醋陈醋醋陈陈醋醋陈</p>
								</div>
						</div>
						<div class="xiangce_neirong">
								<img src="img/btn_tianjiaxiangceneirong@2x.png" />
								<div>
									<p>陈醋醋陈醋醋陈陈醋醋陈</p>
								</div>
						</div>
					</div>
				</div>
				
				<div class="xiangce">
					<div class="xiangce_time">24<span>5月</span></div>
					<div class="tong_neirong">
						<div class="xiangce_neirong">
								<img src="img/btn_tianjiaxiangceneirong@2x.png" />
								<div>
									<p>陈醋醋陈醋醋陈陈醋醋陈</p>
								</div>
						</div>
						<div class="xiangce_neirong">
								<img src="img/btn_tianjiaxiangceneirong@2x.png" />
								<div>
									<p>陈醋醋陈醋醋陈陈醋醋陈</p>
								</div>
						</div>
					</div>
				</div>
				
			</div>
			<!--所有相册内容-->
		</div>
	</body>
		<script type="text/javascript" src="js/g_wodexiangce.js" ></script>
</html>
