<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title></title>
    <script type="text/javascript">
    	
   		document.addEventListener('plusready', function(){
   			//console.log("所有plus api都应该在此事件发生后调用，否则会出现plus is undefined。"
   			
   		});
   		
    </script>
    <script type="text/javascript" src="js/jquery-1.8.3.min.js" ></script>
    <script type="text/javascript" src="js/rem.js" ></script>
    
    <link rel="stylesheet" href="css/index.css" />
</head>
<body>
	<div class="select">
		<a href="sousuo.html"><div class="sousuo">
			<img src="img/sousuo2@2x2.png" /><input type="text" readonly="readonly"  />
		</div></a>
	</div>
	<div id="all">
		<div class="fenlei">
			<div class="neirong">
				<div class="touxiang"></div>
				<ul>
					<li>甲友论坛</li>
					<li>主贴&nbsp;121212次数&nbsp;&nbsp;回复1212122次</li>
				</ul>
				<img class="guan" isguan="0" src="img/icon_quguan@2x.png" />
			</div>
			<div class="neirong">
				<div class="touxiang"></div>
				<ul>
					<li>甲友论坛</li>
					<li>主贴&nbsp;121212次数&nbsp;&nbsp;回复1212122次</li>
				</ul>
				<img class="guan" isguan="0" src="img/icon_quguan@2x.png" />
			</div>
			<div class="neirong">
				<div class="touxiang"></div>
				<ul>
					<li>甲友论坛</li>
					<li>主贴&nbsp;121212次数&nbsp;&nbsp;回复1212122次</li>
				</ul>
				<img class="guan" isguan="0" src="img/icon_quguan@2x.png" />
			</div>
			<div class="neirong">
				<div class="touxiang"></div>
				<ul>
					<li>甲友论坛</li>
					<li>主贴&nbsp;121212次数&nbsp;&nbsp;回复1212122次</li>
				</ul>
				<img class="guan" isguan="0" src="img/icon_quguan@2x.png" />
			</div>
			<div class="neirong">
				<div class="touxiang"></div>
				<ul>
					<li>甲友论坛</li>
					<li>主贴&nbsp;121212次数&nbsp;&nbsp;回复1212122次</li>
				</ul>
				<img class="guan" isguan="0" src="img/icon_quguan@2x.png" />
			</div>
			<div class="neirong">
				<div class="touxiang"></div>
				<ul>
					<li>甲友论坛</li>
					<li>主贴&nbsp;121212次数&nbsp;&nbsp;回复1212122次</li>
				</ul>
				<img class="guan" isguan="0" src="img/icon_quguan@2x.png" />
			</div>
			<div class="neirong">
				<div class="touxiang"></div>
				<ul>
					<li>甲友论坛</li>
					<li>主贴&nbsp;121212次数&nbsp;&nbsp;回复1212122次</li>
				</ul>
				<img class="guan" isguan="0" src="img/icon_quguan@2x.png" />
			</div>
			<div class="neirong">
				<div class="touxiang"></div>
				<ul>
					<li>甲友论坛</li>
					<li>主贴&nbsp;121212次数&nbsp;&nbsp;回复1212122次</li>
				</ul>
				<img class="guan" isguan="0" src="img/icon_quguan@2x.png" />
			</div>
			<div class="neirong">
				<div class="touxiang"></div>
				<ul>
					<li>甲友论坛</li>
					<li>主贴&nbsp;121212次数&nbsp;&nbsp;回复1212122次</li>
				</ul>
				<img class="guan" isguan="0" src="img/icon_quguan@2x.png" />
			</div>
			<div class="neirong">
				<div class="touxiang"></div>
				<ul>
					<li>甲友论坛</li>
					<li>主贴&nbsp;121212次数&nbsp;&nbsp;回复1212122次</li>
				</ul>
				<img class="guan" isguan="0" src="img/icon_quguan@2x.png" />
			</div>
			<div class="neirong">
				<div class="touxiang"></div>
				<ul>
					<li>甲友论坛</li>
					<li>主贴&nbsp;121212次数&nbsp;&nbsp;回复1212122次</li>
				</ul>
				<img class="guan" isguan="0" src="img/icon_quguan@2x.png" />
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="js/index.js" ></script>
</html>