<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
	</head>
	<script type="text/javascript" src="js/jquery-1.8.3.min.js" ></script>
    <script type="text/javascript" src="js/rem.js" ></script>
    <link rel="stylesheet" href="css/mouyiluntan.css" />
	<body>
		<header>
			<div class="nav_title">
				<a href="index.html"><span><img src="img/icon_fanhui@2x.png"/></span></a>  甲友论坛 
			</div>
			<div class="person">
				<div class="person_touxiang"> <img src="img/icon_wode-@3x.png" /> </div>
				<ul>
					<li>今日：&nbsp;&nbsp;250</li>
					<li>帖子：&nbsp;&nbsp;123456789</li>
				</ul>	
				<img class="guan" isguan="0" src="img/icon_quguan@2x.png" />
			</div>
			<div class="daohang">
				<ul>
					<li>最新回复</li>
					<li>最新帖</li>
					<li>精华帖</li>
				</ul>
			</div>
		</header>
		<div id="all">
			<div class="xunhuan">
				<div>
					<a href="tiezixiangqing.html"><p><img  src="img/tab_youtu@2x.png" />&nbsp;总积分总积均军长大家发动骚乱解放开绿灯解放爱哦三级地方姐啊岁<img class="jing_img" src="img/icon_jing@3x.png" /></p></a>
					<ul>
						<li><img src="img/tab_youtu@2x.png" /></li>
						<li>&nbsp;<a href="zuozhe.html">JIPYJOI</a>&nbsp;操作技巧</li>
						<li></li>
						<li><img src="img/icon_liulan@2x.png" />&nbsp;&nbsp;14523</li>
						<li><img src="img/icon_pinglun@2x.png" />&nbsp;&nbsp;14523</li>
					</ul>
				</div>
				<div>
					<p><img src="img/tab_youtu@2x.png" />&nbsp;灯解放爱哦三级地方姐啊岁</p>
					<ul>
						<li><img src="img/tab_youtu@2x.png" /></li>
						<li>&nbsp;<span>JIPYJOI</span>&nbsp;操作技巧</li>
						<li></li>
						<li><img src="img/icon_liulan@2x.png" />&nbsp;&nbsp;14523</li>
						<li><img src="img/icon_pinglun@2x.png" />&nbsp;&nbsp;14523</li>
					</ul>
				</div>
				<div>
					<p><img src="img/tab_youtu@2x.png" />&nbsp;总积分总积均军长大家发动骚乱解放开绿灯解放爱哦三级地方姐啊岁</p>
					<ul>
						<li><img src="img/tab_youtu@2x.png" /></li>
						<li>&nbsp;<span>JIPYJOI</span>&nbsp;操作技巧</li>
						<li></li>
						<li><img src="img/icon_liulan@2x.png" />&nbsp;&nbsp;14523</li>
						<li><img src="img/icon_pinglun@2x.png" />&nbsp;&nbsp;14523</li>
					</ul>
				</div>
				<div>
					<p><img src="img/tab_youtu@2x.png" />&nbsp;总积分总积均军长大家发动骚乱解放开绿灯解放爱哦三级地方姐啊岁</p>
					<ul>
						<li><img src="img/tab_youtu@2x.png" /></li>
						<li>&nbsp;<span>JIPYJOI</span>&nbsp;操作技巧</li>
						<li></li>
						<li><img src="img/icon_liulan@2x.png" />&nbsp;&nbsp;14523</li>
						<li><img src="img/icon_pinglun@2x.png" />&nbsp;&nbsp;14523</li>
					</ul>
				</div>
				<div>
					<p><img src="img/tab_youtu@2x.png" />&nbsp;总积分总积均军长大家发动骚乱解放开绿灯解放爱哦三级地方姐啊岁</p>
					<ul>
						<li><img src="img/tab_youtu@2x.png" /></li>
						<li>&nbsp;<span>JIPYJOI</span>&nbsp;操作技巧</li>
						<li></li>
						<li><img src="img/icon_liulan@2x.png" />&nbsp;&nbsp;14523</li>
						<li><img src="img/icon_pinglun@2x.png" />&nbsp;&nbsp;14523</li>
					</ul>
				</div>
				<div>
					<p><img src="img/tab_youtu@2x.png" />&nbsp;总积分总积均军长大家发动骚乱解放开绿灯解放爱哦三级地方姐啊岁</p>
					<ul>
						<li><img src="img/tab_youtu@2x.png" /></li>
						<li>&nbsp;<span>JIPYJOI</span>&nbsp;操作技巧</li>
						<li></li>
						<li><img src="img/icon_liulan@2x.png" />&nbsp;14523</li>
						<li><img src="img/icon_pinglun@2x.png" />&nbsp;&nbsp;14523</li>
					</ul>
				</div>
				<div>
					<p><img src="img/tab_youtu@2x.png" />&nbsp;总积分总积均军长大家发动骚乱解放开绿灯解放爱哦三级地方姐啊岁</p>
					<ul>
						<li><img src="img/tab_youtu@2x.png" /></li>
						<li>&nbsp;<span>JIPYJOI</span>&nbsp;操作技巧</li>
						<li></li>
						<li><img src="img/icon_liulan@2x.png" />&nbsp;&nbsp;14523</li>
						<li><img src="img/icon_pinglun@2x.png" />&nbsp;&nbsp;14523</li>
					</ul>
				</div>
				<div>
					<p><img src="img/tab_youtu@2x.png" />&nbsp;总积分总积均军长大家发动骚乱解放开绿灯解放爱哦三级地方姐啊岁</p>
					<ul>
						<li><img src="img/tab_youtu@2x.png" /></li>
						<li>&nbsp;<span>JIPYJOI</span>&nbsp;操作技巧</li>
						<li></li>
						<li><img src="img/icon_liulan@2x.png" />&nbsp;&nbsp;14523</li>
						<li><img src="img/icon_pinglun@2x.png" />&nbsp;&nbsp;14523</li>
					</ul>
				</div>
			</div>
		</div>
		<footer class="foot">
			<ul class="choose">
				<li onclick="moKuai()">模块&nbsp;<img src="img/icon_xiangshang-copy@3x.png" /> </li>
				<li onclick="quYu()">区域&nbsp;<img src="img/icon_xiangshang-copy@3x.png" /> </li>
				<li><a href="fatie.html" >发帖&nbsp;<img src="img/icon_xiangshang-copy@3x.png" /> </a></li>
			</ul>
		</footer>
		<div id="box">
			<div class="bottom_fenlei">
				<div class="sure">
					<div class="btn_false">取消</div>
			        <div class="btn_true">确定</div>
			   </div> 
			   	<ul class="diqu_one">
			   		<li>全部</li>
			    	<li>北京1wert234</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			   	</ul>
			</div>
			
			<div class="bottom_fenlei_two">
				<div class="sure">
					<div class="btn_reset">重置</div>
			        <div class="btn_true_two">确定</div>
			   </div> 
			   	<ul class="diqu_two">
			   		<li>全部</li>
			    	<li>北京2</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			   	</ul>
			</div>
			
			<div class="bottom_fenlei_three">
				<div class="sure">
					<div class="btn_reset_three">重置</div>
			        <div class="btn_true_three">确定</div>
			   </div> 
			   	<ul class="diqu_three">
			   		<li>全部</li>
			    	<li>北京3</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			    	<li>北京</li>
			   	</ul>
			</div>
  		</div>

		<div id="box_mokuai">
			<div class="bottom_mokuai_fenlei">
				<div class="sure_mokuai">
						<div class="btn_false_mokuai">取消</div>
				        <div class="btn_true_mokuai">确定</div>
				</div>
				<ul class="mokuai">
				   	<li>全部1</li>
				   	<li>维修改造</li>
				   	<li>试用报告</li>
				    <li>操作技巧</li>
				</ul>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="js/mouyiluntan.js" ></script>
</html>
