<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
	</head>
	<script type="text/javascript" src="js/jquery-1.8.3.min.js" ></script>
    <script type="text/javascript" src="js/rem.js" ></script>
    <link rel="stylesheet" href="css/p_fapengyouquan.css" />
	<body>
		<header>
			<a href="p_pengyouquan.html"><span><img src="img/icon_fanhui@2x.png"/></span></a>  
				发朋友圈
			<div><a href="p_pengyouquan.html">发布</a></div>
		</header>
		<div id="all">
			<div class="shuruneirong">
				<textarea placeholder="请输入内容......"></textarea>
			</div>
			<div class="xiahuaxian"></div>
			<div class="chooseImg">
				请选择图片或者视频
				<div class="imgNeiRong">
					<img src="img/addImg3.png" />
				</div>
			</div>
			<div class="xiahuaxian"></div>
			<div class="choose">
				<a href="p_weizhi.html"><li><img src="img/dingwei3.png" /><span class="suozaiweizhi">所在位置</span></li></a>
				<a href="p_shuikeyikan.html"><li> <img src="img/diqiu3.png" /><span>谁可以看</span> <div class="who_can_see">公开</div></li></a>
				<a href="p_tixingshuikan.html"><li class="tixing_who"> <img src="img/tixing3.png" /><span>提醒谁看</span>
					<div>
						<img /><img /><img />
						<img /><img /><img />
					</div>
				</li></a>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="js/p_fapengyouquan.js" ></script>
</html>
