<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
	</head>
	<script type="text/javascript" src="js/jquery-1.8.3.min.js" ></script>
    <script type="text/javascript" src="js/rem.js" ></script>
    <link rel="stylesheet" href="css/p_pengyouquan.css" />
	<body>
		<header>
			<a href="g_gerenzhongxin.html"><span><img src="img/icon_fanhui@2x.png"/></span></a>  
				朋友圈
			<div><a href="p_fapengyouquan.html"><img src="img/xiangji3.png" /></a>  </div>
		</header>
		<div id="all">
			<div class="neirong">
				<img src="img/icon_xiangce@3x.png" />
				<ul>
					<li><a>琪琪</a></li>
					<li class="rong">北京这几天天气很好，就是风大了点，真烦早的事发生，我又帅了，要不是没这风，诶!</li>
					<li class="video">
						
					</li>
					<li class="tuxiang"></li>
					<li class="li_hezi">
						<span class="time">19分钟前</span>
						<span class="zan"><img src="img/zan3.png" /><span>赞</span></span>
						<span class="lun"><img src="img/pinglun3.png" /><span>评论</span></span>
					</li>
				</ul>
			</div>
			
			<div class="neirong">
				<img src="img/icon_xiangce@3x.png" />
				<ul>
					<li><a>琪琪</a></li>
					<li class="rong">北京这几天天气很好，就是风大了点，真烦早的事发生，我又帅了，要不是没这风，诶!</li>
					<li class="video">
						<video>
						    <source src="img/video.mp4" type="video/mp4">
						</video>
						<img src="img/duobianxing3.png" onclick="boVideo(this)" />
					</li>
					<li class="tuxiang"></li>
					<li class="li_hezi">
						<span class="time">19分钟前</span>
						<span class="zan"><img src="img/zan3.png" /><span>赞</span></span>
						<span class="lun"><img src="img/pinglun3.png" /><span>评论</span></span>
					</li>
				</ul>
			</div>
			
			<div class="neirong">
				<img src="img/icon_xiangce@3x.png" />
				<ul>
					<li><a>琪琪</a></li>
					<li class="rong">北京这几天天气很好，就是风大了点，真烦早的事发生，我又帅了，要不是没这风，诶!</li>
					<li class="video"></li>
					<li class="tuxiang">
						<img src="img/picture_xiangqing@2x.png" />
						<img src="img/picture_xiangqing@2x.png" />
						<img src="img/picture_xiangqing@2x.png" />
						<img src="img/picture_xiangqing@2x.png" />
						<img src="img/picture_xiangqing@2x.png" />
					</li>
					<li class="li_hezi">
						<span class="time">19分钟前</span>
						<span class="zan"><img src="img/zan3.png" /><span>赞</span></span>
						<span class="lun"><img src="img/pinglun3.png" /><span>评论</span></span>
					</li>
				</ul>
			</div>
			
			<div class="neirong">
				<img src="img/icon_xiangce@3x.png" />
				<ul>
					<li><a>琪琪</a></li>
					<li class="rong">北京这几天天气很好，就是风大了点，真烦早的事发生，我又帅了，要不是没这风，诶!</li>
					<li class="video"></li>
					<li class="tuxiang">
						<img src="img/picture_xiangqing@2x.png" />
						<img src="img/picture_xiangqing@2x.png" />
						<img src="img/picture_xiangqing@2x.png" />
						<img src="img/picture_xiangqing@2x.png" />
					</li>
					<li class="li_hezi">
						<span class="time">19分钟前</span>
						<span class="zan"><img src="img/zan3.png" /><span>赞</span></span>
						<span class="lun"><img src="img/pinglun3.png" /><span>评论</span></span>
					</li>
				</ul>
			</div>
			
			
			<div class="neirong">
				<img src="img/icon_xiangce@3x.png" />
				<ul>
					<li><a>琪琪</a></li>
					<li class="rong">北京这几天天气很好，就是风大了点，真烦早的事发生，我又帅了，要不是没这风，诶!</li>
					<li class="video">
						<video>
						    <source src="img/video.mp4" type="video/mp4">
						</video>
						<img src="img/duobianxing3.png" onclick="boVideo(this)" />
					</li>
					<li class="tuxiang"></li>
					<li class="li_hezi">
						<span class="time">19分钟前</span>
						<span class="zan"><img src="img/zan3.png" /><span>赞</span></span>
						<span class="lun"><img src="img/pinglun3.png" /><span>评论</span></span>
					</li>
				</ul>
			</div>
			
			
		</div>
		
		<div id="box">
			<video>
				
			</video>
		</div>
	</body>
	<script type="text/javascript" src="js/p_pengyouquan.js" ></script>
</html>
