<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
	</head>
	<script type="text/javascript" src="js/jquery-1.8.3.min.js" ></script>
    <script type="text/javascript" src="js/rem.js" ></script>
	<link rel="stylesheet" href="css/p_shuikeyikan.css" />
	<body>
		<header>
			<a href="p_weizhi.html"><span><img src="img/icon_fanhui@2x.png"/></span></a>  
				谁可以看
			<div><a href="p_fapengyouquan.html">确定</a></div>
		</header>
		<div id="all">
			<div class="gongkai">
				<ul>
					<li>公开</li>
					<li>所有朋友可见</li>
				</ul>
				<img src="img/gou3.png" />
			</div>
			
			<div class="gongkai">
				<ul>
					<li>私密</li>
					<li>仅自己可见</li>
				</ul>
				<img src="img/gou3.png" />
			</div>
			
			<div class="gongkai">
				<ul>
					<li>部分模块</li>
					<li>选中的朋友可见</li>
				</ul>
				<img src="img/gou3.png" />
			</div>
				<div class="tongxunlu_yes">
					<div class="tonguxnlu_one">从通讯录里选择</div>
					<div class="tonguxnlu_two">老师，老师，老师，老师，老师，老师，老师，老师，老师，</div>
				</div>
			<div class="gongkai">
				<ul>
					<li>不给谁看</li>
					<li>选中的朋友不可见</li>
				</ul>
				<img src="img/gou3.png" />
			</div>
				<div class="tongxunlu_no">
					<div class="tonguxnlu_one">从通讯录里选择</div>
					<div class="tonguxnlu_two">老师，老师，老师，老师，老师，老师，老师，老师，老师，</div>
				</div>
		</div>
	</body>
	<script type="text/javascript" src="js/p_shuikeyikan.js" ></script>
</html>
