<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
	</head>
	<script type="text/javascript" src="js/jquery-1.8.3.min.js" ></script>
    <script type="text/javascript" src="js/rem.js" ></script>
	<link rel="stylesheet" href="css/p_sousuo.css" />
	<body>
		<header>
			<a href="p_weizhi.html"><span><img src="img/icon_fanhui@2x.png"/></span></a>  
				搜索
			<div class="sou_zhi"><a>搜索</a></div>
		</header>
		<div id="all">
			<div class="sousuo">
				<img src="img/p_sousuo.png" />
				<input placeholder="搜索" type="search" />
			</div>
		</div>
	</body>
	<script type="text/javascript" src="js/p_sousuo.js" ></script>
</html>
