<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
	</head>
		<script type="text/javascript" src="js/jquery-1.8.3.min.js" ></script>
    <script type="text/javascript" src="js/rem.js" ></script>
	<link rel="stylesheet" href="css/p_sousuojg.css" />
	<body>
		<header>
			<a href="p_weizhi.html"><span><img src="img/icon_fanhui@2x.png"/></span></a>  
				搜索
			<div class="sou_zhi">搜索</div>
		</header>
		<div id="all">
			<div class="sousuo">
				<img src="img/p_sousuo.png" />
				<input value="北京丰台科技园" type="search" />
			</div>
			<ul>
				<li>北京</li>
				<li onclick="fanJg(this)">赛欧科技孵化中心</li>
				<li>赛欧科技孵化中心</li>
				<li>赛欧科技孵化中心</li>
				<li>赛欧科技孵化中心赛欧科技孵化中心赛欧科技孵化中心赛欧科技孵化中心</li>
				<li>赛欧科技孵化中心</li>
				<li>赛欧科技孵化中心</li>
				<li>赛欧科技孵化中心</li>
				<li>赛欧科技孵化中心</li>
				<li>赛欧科技孵化中心</li>
				<li>赛欧科技孵化中心</li>
				<li>赛欧科技孵化中心</li>
				<li>赛欧科技孵化中心</li>
				<li>赛欧科技孵化中心</li>
				<li>赛欧科技孵化中心</li>
				<li>赛欧科技孵化中心</li>
				<li>赛欧科技孵化中心</li>
				<li>赛欧科技孵化中心</li>
				<li>赛欧科技孵化中心</li>
				<li>赛欧科技孵化中心</li>
				<li>赛欧科技孵化中心</li>
				<li>赛欧科技孵化中心</li>
				<li>赛欧科技孵化中心</li>
				<li>赛欧科技孵化中心</li>
				<li>赛欧科技孵化中心</li>
				<li>赛欧科技孵化中心</li>
				<li>赛欧科技孵化中心</li>
				<li>赛欧科技孵化中心</li>
				<li>赛欧科技孵化中心</li>
			</ul>
		</div>
	</body>
	<script src="js/p_sousuojg.js"></script>
</html>
