<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
	</head>
	<script type="text/javascript" src="js/jquery-1.8.3.min.js" ></script>
    <script type="text/javascript" src="js/rem.js" ></script>
	<link rel="stylesheet" href="css/p_tixinglogin.css" />
	<body>
		<div id="all">
			<div class="nav_title">
				<div class="sousuo">
					<img src="img/sousuo2@2x2.png" /><input type="search" class="select_neirong"  />
				</div>
				<div class="add">+</div>
			</div>
			<ul>
				<li>关注</li>
				<li>模块</li>
				<li>区域</li>
			</ul>
			<div class="tishi_login">
				<img src="img/picture_xiangqing@3x.png" />
				<p>您还没有登录！</p>
				<p>请点击图片登陆！</p>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="js/p_tixinglogin.js" ></script>
</html>
