<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
	</head>
	<script type="text/javascript" src="js/jquery-1.8.3.min.js" ></script>
    <script type="text/javascript" src="js/rem.js" ></script>
	<link rel="stylesheet" href="css/p_tongxunlu.css" />
	<body>
		<header>
			<a href="p_shuikeyikan.html"><span><img src="img/icon_fanhui@2x.png"/></span></a>  
				选择联系人
			<div><a href="p_shuikeyikan.html">确定</a></div>
		</header>
		<div id="all">
			<div class="sousuo">
				<img src="img/p_sousuo.png" />
				<input placeholder="搜索" />
			</div>
			<div class="qundao">
				<a href="p_xuanzequnliao.html">从群里导入</a>
			</div>
			<div class="person_fenlei">
				<p class="A">A</p>
				<ul>
					<li> <img class="person_tou" src="img/picture_xiangqing@2x.png" /> <span>琪琪</span> <img src="img/txlChooseNo3.png" class="txl_choose" /></li>
					<li> <img class="person_tou" src="img/picture_xiangqing@2x.png" /> <span>琪琪</span> <img src="img/txlChooseNo3.png" class="txl_choose" /></li>
					<li> <img class="person_tou" src="img/picture_xiangqing@2x.png" /> <span>琪琪</span> <img src="img/txlChooseNo3.png" class="txl_choose" /></li>
					<li> <img class="person_tou" src="img/picture_xiangqing@2x.png" /> <span>琪琪</span> <img src="img/txlChooseNo3.png" class="txl_choose" /></li>
					<li> <img class="person_tou" src="img/picture_xiangqing@2x.png" /> <span>琪琪</span> <img src="img/txlChooseNo3.png" class="txl_choose" /></li>
				</ul>
				<p class="B">B</p>
				<ul>
					<li> <img class="person_tou" src="img/picture_xiangqing@2x.png" /> <span>琪琪</span> <img src="img/txlChooseNo3.png" class="txl_choose" /></li>
					<li> <img class="person_tou" src="img/picture_xiangqing@2x.png" /> <span>琪琪</span> <img src="img/txlChooseNo3.png" class="txl_choose" /></li>
					<li> <img class="person_tou" src="img/picture_xiangqing@2x.png" /> <span>琪琪</span> <img src="img/txlChooseNo3.png" class="txl_choose" /></li>
					<li> <img class="person_tou" src="img/picture_xiangqing@2x.png" /> <span>琪琪</span> <img src="img/txlChooseNo3.png" class="txl_choose" /></li>
					<li> <img class="person_tou" src="img/picture_xiangqing@2x.png" /> <span>琪琪</span> <img src="img/txlChooseNo3.png" class="txl_choose" /></li>
				</ul>
				<p class="C">C</p>
				<ul>
					<li> <img class="person_tou" src="img/picture_xiangqing@2x.png" /> <span>琪琪</span> <img src="img/txlChooseNo3.png" class="txl_choose" /></li>
					<li> <img class="person_tou" src="img/picture_xiangqing@2x.png" /> <span>琪琪</span> <img src="img/txlChooseNo3.png" class="txl_choose" /></li>
					<li> <img class="person_tou" src="img/picture_xiangqing@2x.png" /> <span>琪琪</span> <img src="img/txlChooseNo3.png" class="txl_choose" /></li>
					<li> <img class="person_tou" src="img/picture_xiangqing@2x.png" /> <span>琪琪</span> <img src="img/txlChooseNo3.png" class="txl_choose" /></li>
					<li> <img class="person_tou" src="img/picture_xiangqing@2x.png" /> <span>琪琪</span> <img src="img/txlChooseNo3.png" class="txl_choose" /></li>
				</ul>
				<p class="D">D</p>
				<ul>
					<li> <img class="person_tou" src="img/picture_xiangqing@2x.png" /> <span>琪琪</span> <img src="img/txlChooseNo3.png" class="txl_choose" /></li>
					<li> <img class="person_tou" src="img/picture_xiangqing@2x.png" /> <span>琪琪</span> <img src="img/txlChooseNo3.png" class="txl_choose" /></li>
					<li> <img class="person_tou" src="img/picture_xiangqing@2x.png" /> <span>琪琪</span> <img src="img/txlChooseNo3.png" class="txl_choose" /></li>
					<li> <img class="person_tou" src="img/picture_xiangqing@2x.png" /> <span>琪琪</span> <img src="img/txlChooseNo3.png" class="txl_choose" /></li>
					<li> <img class="person_tou" src="img/picture_xiangqing@2x.png" /> <span>琪琪</span> <img src="img/txlChooseNo3.png" class="txl_choose" /></li>
				</ul>
			</div>
			<ul class="twenty_six">
				
			</ul>
		</div>
	</body>
	<script type="text/javascript" src="js/p_tongxunlu.js" ></script>
</html>
