<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
			<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
	</head>
	<script type="text/javascript" src="js/jquery-1.8.3.min.js" ></script>
    <script type="text/javascript" src="js/rem.js" ></script>
	<link rel="stylesheet" href="css/p_weizhi.css" />
	<body>
		<header>
			<a href="p_fapengyouquan.html"><span><img src="img/icon_fanhui@2x.png"/></span></a>  
				所在位置
			<div><a href="p_sousuo.html"><img src="img/sousuo2@3x.png" /></a></div>
		</header>
		<div id="all">
			<ul>
				<li><p>不显示位置 </p><div></div><img src="img/gou3.png" /></li>
				<li onclick="chooseAddress(this)"><p>北京</p><div></div><img src="img/gou3.png" /></li>
				<li><p>赛欧科技孵化中心赛欧科技孵化中心赛欧赛欧的撒发射点发射得分 </p><div></div><img src="img/gou3.png" /></li>
				<li><p>赛欧科技孵化中心赛欧科技孵化中心赛欧赛欧 </p><div></div><img src="img/gou3.png" /></li>
				<li><p>赛欧科技孵化中心赛欧科技孵化中心赛欧赛欧 </p><div></div><img src="img/gou3.png" /></li>
				<li><p>赛欧科技孵化中心赛欧科技孵化中心赛欧赛欧 </p><div></div><img src="img/gou3.png" /></li>
				<li><p>赛欧科技孵化中心赛欧科技孵化中心赛欧赛欧 </p><div></div><img src="img/gou3.png" /></li>
				<li><p>赛欧科技孵化中心赛欧科技孵化中心赛欧赛欧 </p><div></div><img src="img/gou3.png" /></li>
				<li><p>赛欧科技孵化中心赛欧科技孵化中心赛欧赛欧 </p><div></div><img src="img/gou3.png" /></li>
				<li><p>赛欧科技孵化中心赛欧科技孵化中心赛欧赛欧 </p><div></div><img src="img/gou3.png" /></li>
				<li><p>赛欧科技孵化中心赛欧科技孵化中心赛欧赛欧 </p><div></div><img src="img/gou3.png" /></li>
				<li><p>赛欧科技孵化中心赛欧科技孵化中心赛欧赛欧 </p><div></div><img src="img/gou3.png" /></li>
				<li><p>赛欧科技孵化中心赛欧科技孵化中心赛欧赛欧 </p><div></div><img src="img/gou3.png" /></li>
				<li><p>赛欧科技孵化中心赛欧科技孵化中心赛欧赛欧 </p><div></div><img src="img/gou3.png" /></li>
				<li><p>赛欧科技孵化中心赛欧科技孵化中心赛欧赛欧 </p><div></div><img src="img/gou3.png" /></li>
				<li><p>赛欧科技孵化中心赛欧科技孵化中心赛欧赛欧 </p><div></div><img src="img/gou3.png" /></li>
				<li><p>赛欧科技孵化中心赛欧科技孵化中心赛欧赛欧 </p><div></div><img src="img/gou3.png" /></li>
			</ul>
		</div>
	</body>
	<script type="text/javascript" src="js/p_weizhi.js" ></script>
</html>
