<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
	</head>
	<script type="text/javascript" src="js/jquery-1.8.3.min.js" ></script>
    <script type="text/javascript" src="js/rem.js" ></script>
	<link rel="stylesheet" href="css/p_xuanzequnliao.css" />
	<body>
		<header>
			<a href="p_tongxunlu.html"><span><img src="img/icon_fanhui@2x.png"/></span></a>  
				选择群聊
		</header>
		<div id="all">
			<ul >
				<li>
					<div class="qun_img">
						<img src="img/tab_youship@3x.png" /><img src="img/tab_youship@3x.png" /><img src="img/tab_youship@3x.png" />
						<img src="img/tab_youship@3x.png" /><img src="img/tab_youship@3x.png" /><img src="img/tab_youship@3x.png"  />
						<img src="img/tab_youship@3x.png" /><img src="img/tab_youship@3x.png" /><img src="img/tab_youship@3x.png"  />
					</div>
					<p>帅友聊天群</p>
				</li>
				<li>
					<div class="qun_img">
						<img src="img/tab_youship@3x.png" /><img src="img/tab_youship@3x.png" /><img src="img/tab_youship@3x.png" />
						<img src="img/tab_youship@3x.png" /><img src="img/tab_youship@3x.png" /><img src="img/tab_youship@3x.png"  />
						<img src="img/tab_youship@3x.png" /><img src="img/tab_youship@3x.png" /><img src="img/tab_youship@3x.png"  />
					</div>
					<p>帅友聊天群</p>
				</li>
				<li>
					<div class="qun_img">
						<img src="img/tab_youship@3x.png" /><img src="img/tab_youship@3x.png" /><img src="img/tab_youship@3x.png" />
						<img src="img/tab_youship@3x.png" /><img src="img/tab_youship@3x.png" /><img src="img/tab_youship@3x.png"  />
					</div>
					<p>帅友聊天群</p>
				</li>
				
			</ul>
		</div>
	</body>
	<script src="js/p_xuanzequnliao.js"></script>
</html>
