<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
			<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
	</head>
	<script type="text/javascript" src="js/jquery-1.8.3.min.js" ></script>
    <script type="text/javascript" src="js/rem.js" ></script>
    <link rel="stylesheet" href="css/tiezixiangqing.css" />
	<body>
		<div class="nav_title">
			<a href="mouyiluntan.html"><span><img src="img/icon_fanhui@2x.png"/></span></a>  帖子详情 
		</div>
		<div id="all">
			<div class="zhuti">
				<ul>
					<li>2017UI设计趋势</li>
					<li><img src="img/icon_liulan@2x.png" />&nbsp;&nbsp;14523</li>
					<li><img src="img/icon_pinglun@2x.png" />&nbsp;&nbsp;14523</li>
				</ul>
				<p>吃土豆不吐葡萄皮</p>
				<div class="tu_xiangjie">
					<img src="img/picture_xiangqing.png" />
					<div class="xiangjie">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						吃土豆不吐葡萄皮吃土豆不吐葡萄皮吃土豆不吐葡萄皮
						吃土豆不吐葡萄皮吃土豆不吐葡萄皮吃土豆不吐葡萄皮
						吃土豆不吐葡萄皮吃土豆不吐葡萄皮吃土豆不吐葡萄皮
						吃土豆不吐葡萄皮吃土豆不吐葡萄皮吃土豆不吐葡萄皮
						吃土豆不吐葡萄皮吃土豆不吐葡萄皮吃土豆不吐葡萄皮
						吃土豆不吐葡萄皮吃土豆不吐葡萄皮吃土豆不吐葡萄皮
						吃土豆不吐葡萄皮吃土豆不吐葡萄皮吃土豆不吐葡萄皮
						吃土豆不吐葡萄皮吃土豆不吐葡萄皮吃土豆不吐葡萄皮
					</div>
					<p><img class="lou_ping" src="img/icon_pinglun@2x.png" />&nbsp;&nbsp;<span>评论</span></p>
				</div>
			</div>
			
			<div class="all_pinglun">
					<!--一楼部分-->
				<div class="pinglunneirong">
					<div class="hezi">
						<img src="img/btn_tianjiaxiangceneirong@2x.png" />
						<ul>
							<li>刘剑</li>
							<li>吃皮吃土豆不吐吃土豆不吐葡萄皮葡萄皮吃皮吃土豆不吐吃土豆不吐葡萄皮葡萄皮</li>
						</ul>
						<div class="louceng">1楼</div>
					</div>
					<p>
						<img class="ci_lou_ping" src="img/icon_pinglun@2x.png" />&nbsp;&nbsp;<span>评论</span>
					</p>
				</div>
				
				<!--一楼部分-->
				<div class="pinglunneirong">
					<div class="hezi">
						<img src="img/btn_tianjiaxiangceneirong@2x.png" />
						<ul>
							<li>刘剑</li>
							<li>吃皮吃土豆不吐吃土豆不吐葡萄皮葡萄皮吃皮吃土豆不吐吃土豆不吐葡萄皮葡萄皮</li>
						</ul>
						<div class="louceng">2楼</div>
					</div>
					<p>
						<img class="ci_lou_ping" src="img/icon_pinglun@2x.png" />&nbsp;&nbsp;<span>评论</span>
					</p>
					
					<!--跟一楼有关的内部评论-->
					<div class="erloupinglun">
						<div class="erlou_hezi">
							<img src="img/btn_tianjiaxiangceneirong@2x.png" />
							<ul>
								<li>刘剑</li>
								<li>吃皮吃土豆不吐吃土豆不吐葡萄皮葡萄皮吃皮吃土豆不吐吃土豆不吐葡萄皮葡萄皮</li>
							</ul>
						</div>
						<p>
							<img class="ci_lou_ping" src="img/icon_pinglun@2x.png" />&nbsp;&nbsp;<span>评论</span>
						</p>
					</div>
				</div>
				
				
				<!--一楼部分-->
				<div class="pinglunneirong">
					<div class="hezi">
						<img src="img/btn_tianjiaxiangceneirong@2x.png" />
						<ul>
							<li>刘剑</li>
							<li>吃皮吃土豆不吐吃土豆不吐葡萄皮葡萄皮吃皮吃土豆不吐吃土豆不吐葡萄皮葡萄皮</li>
						</ul>
						<div class="louceng">2楼</div>
					</div>
					<p>
						<img class="ci_lou_ping" src="img/icon_pinglun@2x.png" />&nbsp;&nbsp;<span>评论</span>
					</p>
					
					<!--跟一楼有关的内部评论-->
					<div class="erloupinglun">
						<div class="erlou_hezi">
							<img src="img/btn_tianjiaxiangceneirong@2x.png" />
							<ul>
								<li>刘剑</li>
								<li>吃皮吃土豆不吐吃土豆不吐葡萄皮葡萄皮吃皮吃土豆不吐吃土豆不吐葡萄皮葡萄皮</li>
							</ul>
						</div>
						<p>
							<img class="ci_lou_ping" src="img/icon_pinglun@2x.png" />&nbsp;&nbsp;评论
						</p>
					</div>
				</div>
				
			</div>
			
		</div>
		
		<footer class="foot">
			<span class="hui_fu">回复</span>
			<div class="huifu_neirong">
				<span><img src="img/icon_xiangce@3x.png" /></span>
				<input placeholder="输入文字......" />
				<span><img src="img/izon_fasong@2x.png"/></span>
			</div>
		</footer>
	</body>
	<script type="text/javascript" src="js/tiezixiangqing.js" ></script>
</html>
