<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
	</head>
	<script type="text/javascript" src="js/jquery-1.8.3.min.js" ></script>
    <script type="text/javascript" src="js/rem.js" ></script>
	<link rel="stylesheet" href="css/tousu.css" />
	<body>
		<div id="all">
			<div class="nav_title">
				<a href="zuozhe.html"><span><img src="img/icon_fanhui@2x.png"/></span></a>  投诉 
			</div>
		</div>
		
		<div class="gerenxinxi">
			<img src="img/picture_xiangqing.png" class="touxiang" />
			<ul>
				<li>陈醋醋</li>
				<li>1232312312321</li>
			</ul>
			<img src="img/icon_rweima@2x.png" class="erweima" />
		</div>
		
		<ul class="tousu_reason">
			<li><img src="img/btn_duoxuan.@3x.png" />&nbsp; 垃圾营销 </li>
			<li><img src="img/btn_duoxuan.@3x.png" />&nbsp; 垃圾营销</li>
			<li><img src="img/btn_duoxuan.@3x.png" />&nbsp; 垃圾营销</li>
			<li><img src="img/btn_duoxuan.@3x.png" />&nbsp; 垃圾营销</li>
			<li><img src="img/btn_duoxuan.@3x.png" />&nbsp; 垃圾营销</li>
			<li><img src="img/btn_duoxuan.@3x.png" />&nbsp; 垃圾营销</li>
			<li><img src="img/btn_duoxuan.@3x.png" />&nbsp; 垃圾营销</li>
			<li><img src="img/btn_duoxuan.@3x.png" />&nbsp; 垃圾营销</li>
		</ul>
		<footer class="foot">确定</footer>
	</body>
	<script type="text/javascript" src="js/tousu.js" ></script>
</html>
